out: ./styles/loginStyles.css, sourcemap: true, compress: true

//Colors
@corp_main: #02C39A;
@corp_secondary: #F0F3BD;
@corp_tertiary: #028090;
@error_red: #fc8090;

//Device sizes
@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@phone:          ~"only screen and (min-width: @{xs-min})";
@phone-strict:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@tablet:         ~"only screen and (min-width: @{sm-min})";
@tablet-strict:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop:        ~"only screen and (min-width: @{md-min})";
@desktop-strict: ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@large:          ~"only screen and (min-width: @{lg-min})";


html {
  height: 100%;
}

body {
  background-image: url('../background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px;
}

.form-headline {
  color:#444400;
  margin:0 0 8px 0;
  font-size: 20px;
  @media @phone {
    font-size: 22px;
  }
  @media @tablet {
    font-size: 24px;
  }
  @media @desktop, @large {
    font-size: 26px;
  }
}

.form-container .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 400px;
  width: 92%;
  padding: 30px 30px 30px 30px;
  @media @tablet {
    padding: 50px;
  }
  @media @desktop, @large {
    padding: 50px 70px 50px 70px;
  }
}

.form-container .form-group {
  margin-bottom:10px;
}
.form-container {
  text-align:center;
}
.form-container a {
  color: @corp_tertiary;
  font-size: 14px;
  text-decoration: underline;
}
.form-container .btn.btn-primary {
  background: @corp_main none repeat scroll 0 0;
  border-color: @corp_main;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.message-container {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
  border: 1px solid;
  border-radius: 4px;
}

.footer-text {
  margin-top: 10px;
  font-size: 14px;
}

.error-message {
  color: @error_red ;
}

.error-message-container {
  border-color: @error_red !important;
  border: 2px solid;
}

.form-container .btn.btn-primary:active {
  background: @corp_tertiary none repeat scroll 0 0 !important;
  border-color: @corp_tertiary !important;
}

.forgot {
  text-align: left;
  margin-bottom: 20px;
}
