out: ./styles/styles.css, sourcemap: true, compress: true

@import "variables.less";


body {
  background-color: @corp_main !important;
}

#content-main{
  background: #bbd2f7;
  padding: 0px 5px 0px 5px;
}

.card {
  margin: 2px !important;
  text-align: center;
  height: 62px;
  overflow: hidden;
}

.card-body {
  padding: 2px;
}

.color-0 {
  background: @color-0;
}

.color-1 {
  background: @color-1;
}

.color-2 {
  background: @color-2;
}

.color-3 {
  background: @color-3;
}

.color-4 {
  background: @color-4;
}

.color-5 {
  background: @color-5;
}

.card-selected{
  background: white;
  overflow: scroll;
}


.card:hover {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  -o-filter: brightness(0.9);
  -ms-filter: brightness(0.9);
}

.card-selected .card-buttons{
  display: inline-block;
  position: sticky;
  top: 0;
  left: 0;
}

.day-row, .stack-row {
  background: #eaedf2;
  //card + card margin-top + card margin-bottom
  min-height: 66px;
}

.row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.col-weekme {
  padding: 0 !important;
  margin: 0 !important;
}

.day-header {
  height: 40px;
}

.day-label {
 float: left;
 margin-top: 10px;
}

.date-label {
  float: right;
  margin-top: 10px;
}

.card-buttons {
  display: none;
}

.button-edit-task {
  position: absolute;
  left: 0;
  background-image: url('../assets/img/edit.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.button-delete-task {
  position: absolute;
  right: 0;
  background-image: url('../assets/img/check.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.add-day-icon {
  color: @corp_main;
  font-size: 10px;
  height: 40px;
  width: 76%;
  position: absolute;
  left: 12%;
}

.seperator {
  height: 1px;
  background-color: lightgray;
  margin-bottom: 20px;
}

//account
.alert.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.alert.fade.in {
  opacity: 1;
}

#account-alert {
  margin-bottom: 4px;
}

#account-container {
  margin-left: 60px;
  width: 240px;
}

#content-account {
  display: none;
  background: #fafafa;
  padding-bottom: 8%;   
}
.account-subcontainer {
  margin-bottom: 20px;
}
.account-form {
  text-align: center;
}
.account-subcontainer .account-form button {
  display: inline-block;
}

.btn.btn-primary {
  background: @corp_main none repeat scroll 0 0;
  border-color: @corp_main;
}
.btn.btn-primary:active {
  background: @corp_tertiary none repeat scroll 0 0 !important;
  border-color: @corp_tertiary !important;
}

//navbar
#custom-navbar {
  background-color: @corp_main !important;
}

//footer
footer {
  background-color: @corp_main !important;
  min-height: 35px;
}
