out: ./styles/styles.css, sourcemap: true, compress: true

//Colors
//TODO: remove duplicate (loginStyles.less)
@corp_main: #02C39A;
@corp_secondary: #F0F3BD;
@corp_tertiary: #028090;


@menu-background: #e1e1e1;
@text-color: #1A237E;
@task-menu-bar-height: 40px;

@day-background: #fffef4;
@task-background: #fffddf;

#content-main{
  background: #bbd2f7;
  padding: 5px 5px 0px 5px;
} 

.card {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.card:hover {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  -o-filter: brightness(0.9);
  -ms-filter: brightness(0.9);
}

.card-selected{
  background: #afbc18;
}

.card-selected .card-buttons{
  display: inline-block;
}

.day-row, .stack-row {
  background: #eaedf2;
  margin-top: 7px;
  min-height: 82px;
}

.label-container {
  height: 30px;
  vertical-align: middle;
  padding: 5px;
}

.day-label {
 float: left;
}

.date-label {
  float: right;
}

.card-buttons {
  display: none;
}

.button-edit-task {
  position: absolute;
  left: 0;
  background-image: url('../assets/img/edit.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.button-delete-task {
  position: absolute;
  right: 0;
  background-image: url('../assets/img/check.png');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}


//navbar
#custom-navbar {
  background-color: @corp_main !important;
}

//footer
footer {
  background-color: @corp_main !important;
  min-height: 50px;
}
