out: ./styles/styles.css, sourcemap: true, compress: true

@menu-background: #e1e1e1;
@text-color: #1A237E;
@task-menu-bar-height: 40px;

@day-background: #fffef4;
@task-background: #fffddf;

#content-main{
  background: grey;
}
