// Entypo

@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font: 1.4em 'entypo', sans-serif;
}

// Styles

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.picker-container {
    /* margin: 5em auto 0; */
    width: 100%;
}

.select-wrapper {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #aaa;
    cursor: pointer;
    float: left;
    overflow: hidden;
    padding-right: 3em;
    position: relative;
    width: 100%;
}

.select {
    -webkit-appearance: none;
    background-color: #eee;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-size: 1em;
    line-height: 1em;
    padding: 1em 1em;
    width: 100%;
    width: calc(100% + 2em);
    &:focus {
        outline: none;
    }
}

.select-icon {
    position: absolute;
    top: .8em;
    right: 1em;
}

.new-task-textarea {
  width: 100%
}

.btn-first {
  background-color: #02C39A;
  border-color: black;
}

.btn-second {
  background-color: #F0F3BD;
  border-color: black;
}

.btn-third {
  background-color: #028090;
  border-color: black;
}

#btnChangeColor{
  margin-left: auto;
}

textarea {
   resize: none;
}

.btn-color-picker{
  height: 4em;
  width: 4em;
  border-style: solid;
  border-color: black;
  border-radius: 1em;
}

#btnChangeColor {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 16px;
  border-radius: 5px;
}
